VITE_APP_ID=
VITE_OAUTH_PORTAL_URL=
VITE_FRONTEND_FORGE_API_URL=https://forge.butterfly-effect.dev
VITE_FRONTEND_FORGE_API_KEY=
VITE_ANALYTICS_ENDPOINT=
VITE_ANALYTICS_WEBSITE_ID=

JWT_SECRET=
OAUTH_SERVER_URL=
DATABASE_URL=
OWNER_OPEN_ID=
BUILT_IN_FORGE_API_URL=https://forge.manus.im
BUILT_IN_FORGE_API_KEY=
PORT=3000
